<div class="container-fluid bg-light shadow-sm rounded">
  <div class="container">
    <strong>
      <%= comment.commenter %>
      <span class="badge">
        <%= link_to 'destroy', [comment.article, comment],
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "link-danger" %>
      </span>
    </strong>
  </div>
  <p>
    <%= comment.body %>
  </p>
</div>