<div class="container-md mt-3">
  <div class="list-group shadow-sm">
    <% @articles.each do |article| %>
      <a href="<%= article_path(article) %>" class="list-group-item list-group-item-action"><%= article.title %></a>
    <% end %>
  </div>
</div>